section{
    width: 100%;
    display:flex;
    justify-content: center;
}

.sec-wrap{
    width: 1300px;
    margin-top: 30px;
    display: flex;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.sec-wrap .box{
    width: 413px;
    padding: 30px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.sec-wrap .box p{
    margin-top: 10px;
}

h1,
h2,
h3{
margin-top: 10px;
}

#del{
    margin-top: 20px;
    background-color: red !important;
    color: white;
    border: none;
    cursor: pointer;
    height: 40px !important;
}

.heading{
    color: red;
}

img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding-bottom: 10px;
}

